<footer class="footer">
  <div class="fotter-top layer">
    <div class="inner">
      <div class="flex">
        <div class="flex02">
          <div class="column column01">
            <div class="logo img-box">
              <a href="{{ routes.root_url }}">
                <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/logo.png" alt="">
              </a>
            </div>
          </div><!-- /.column-->
          <div class="column column02">
            <nav>
              <ul>
                <li>商品一覧</li>
                <li class="child"><a href="/collections/japan-flavor/">JAPAN FLAVOR</a></li>
                <li class="child"><a href="/collections/world-flavor/">WORLD FLAVOR</a></li>
                <li class="child"><a href="/collections/set/">SET</a></li>
              </ul>
            </nav>
            <nav>
              <ul>
                <li><a href="/pages/concept/">ストーリー</a></li>
                <li><a href="#">商品へのこだわり</a></li>
              </ul>
            </nav>
            <nav>
              <ul>
                <li><a href="/pages/faq/">よくあるご質問</a></li>
                <li><a href="/pages/contact-form/">お問い合わせ</a></li>
              </ul>
            </nav>
          </div><!-- /.column-->
        </div>
        <div class="column column03">
          <nav>
            <ul>
              <li>
                <a href="/cart/">
                  <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.82834 3.8H19.5782C21.1858 3.8 22.3467 5.28167 21.9057 6.77267L19.976 13.306C19.6785 14.3093 18.7288 15 17.6485 15H6.96405C5.88254 15 4.9317 14.3082 4.63536 13.306L1.82834 3.8ZM1.82834 3.8L1 1M16.7501 22C17.2143 22 17.6594 21.8156 17.9876 21.4874C18.3158 21.1592 18.5001 20.7141 18.5001 20.25C18.5001 19.7859 18.3158 19.3408 17.9876 19.0126C17.6594 18.6844 17.2143 18.5 16.7501 18.5C16.286 18.5 15.8409 18.6844 15.5127 19.0126C15.1845 19.3408 15.0001 19.7859 15.0001 20.25C15.0001 20.7141 15.1845 21.1592 15.5127 21.4874C15.8409 21.8156 16.286 22 16.7501 22ZM7.41672 22C7.88085 22 8.32598 21.8156 8.65417 21.4874C8.98236 21.1592 9.16674 20.7141 9.16674 20.25C9.16674 19.7859 8.98236 19.3408 8.65417 19.0126C8.32598 18.6844 7.88085 18.5 7.41672 18.5C6.95259 18.5 6.50746 18.6844 6.17927 19.0126C5.85108 19.3408 5.66671 19.7859 5.66671 20.25C5.66671 20.7141 5.85108 21.1592 6.17927 21.4874C6.50746 21.8156 6.95259 22 7.41672 22Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  CART
                </a>
              </li>
              <li>
                <a href="/account/">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.25 4.78261C14.25 6.97972 12.3801 8.81522 10 8.81522C7.61995 8.81522 5.75 6.97972 5.75 4.78261C5.75 2.5855 7.61995 0.75 10 0.75C12.3801 0.75 14.25 2.5855 14.25 4.78261ZM0.75 16.7391C0.75 16.2325 1.00934 15.7246 1.58953 15.2124C2.17325 14.697 3.01919 14.2378 4.0168 13.8555C6.01185 13.091 8.42071 12.7065 10 12.7065C11.5793 12.7065 13.9882 13.091 15.9832 13.8555C16.9808 14.2378 17.8268 14.697 18.4105 15.2124C18.9907 15.7246 19.25 16.2325 19.25 16.7391V17.9348C19.25 18.1471 19.0551 18.3804 18.75 18.3804H1.25C0.944945 18.3804 0.75 18.1471 0.75 17.9348V16.7391Z" stroke="black" stroke-width="1.5"/>
                  </svg>
                  LOGIN
                </a>
              </li>
            </ul>
          </nav>
        </div><!-- /.column-->
      </div>

      <nav class="navi-bottom">
        <ul>
          <li><a href="/pages/company/">会社概要</a></li>
          <li><a href="/pages/policy/">プライバシーポリシー</a></li>
          <li><a href="/pages/term/">特定商取引法に基づく表記</a></li>
        </ul>
      </nav>

    </div><!-- /.inner-->
  </div>

  <div class="fotter-bottom">
    <div class="inner layer"><p><small>© SUGARCANE PARADISE produce by KAIHO SHOJI</small></p></div>
  </div>
</footer>