<header class="header {% unless template == 'index' %}under-header{% endunless %}">
  <div class="header-inner">
    <div class="logo img-box"><a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/logo_header.png" alt=""></a></div>
    <div class="flex">
      <nav>
        <ul>
          <li class="drop-down_triger">
            <a href="#">商品一覧<img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-arrow02.svg" alt="" class="nav-arrow"></a>
            <div class="drop-down_navi">
              <ul>
                <li>
                  <a href="/collections/all/">
                    <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/header-cate_img01.jpg" alt=""></div>
                    <p>
                      ALL
                      <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/btn-arrow.svg" alt="">
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/collections/japan-flavor/">
                    <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/header-cate_img01.jpg" alt=""></div>
                    <p>
                      JAPAN FLAVOR
                      <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/btn-arrow.svg" alt="">
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/collections/world-flavor/">
                    <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/header-cate_img01.jpg" alt=""></div>
                    <p>
                      WORLD FLAVO
                      <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/btn-arrow.svg" alt="">
                    </p>
                  </a>
                </li>
                <li>
                  <a href="/collections/set/">
                    <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/header-cate_img01.jpg" alt=""></div>
                    <p>
                      SET
                      <img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/btn-arrow.svg" alt="">
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li><a href="/pages/concept/">ストーリー</a></li>
          <li><a href="#">商品へのこだわり</a></li>
          <li><a href="/pages/faq/">よくあるご質問</a></li>
          <li><a href="/pages/contact-form/">お問い合わせ</a></li>
        </ul>
      </nav>
      <nav class="nav02">
        <ul>
          <li><a href="/account/">LOGIN<img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-login.svg" alt=""></a></li>
          <li><a href="/cart/">CART<img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-cart.svg" alt=""></a></li>
        </ul>
      </nav>
    </div>
  </div><!-- /.header-inner-->
</header>