<section class="p-under_wrap p-term">
  <div class="inner-wide">
    <div class="layer">

      <div class="inner">

        <div class="under_head-ttl">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>
          <h2>特定商取引法に基づく表記</h2>
        </div>

        <table>
          <tr>
            <th>販売業者</th>
            <td>テキストテキストテキスト</td>
          </tr>
          <tr>
            <th>運営統括責任者</th>
            <td>テキストテキストテキスト</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>テキストテキストテキスト</td>
          </tr>
          <tr>
            <th>TEL</th>
            <td>テキストテキストテキスト</td>
          </tr>
          <tr>
            <th>FAX</th>
            <td>テキストテキストテキスト</td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              テキストテキストテキスト
            </td>
          </tr>
          <tr>
            <th>取扱商品</th>
            <td>テキストテキストテキスト</td>
          </tr>
          <tr>
            <th>商品代金以外の<br>必要料金</th>
            <td>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</td>
          </tr>
          <tr>
            <th>送料について</th>
            <td>
              テキストテキストテキストテキスト<br>
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
              テキストテキストテキスト
            </td>
          </tr>
          <tr>
            <th>申し込みの有効期限</th>
            <td>原則、受注確認（受注確認の為の自動送信メール発信）後、10日間とします。</td>
          </tr>
          <tr>
            <th>不良品</th>
            <td>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</td>
          </tr>
          <tr>
            <th>販売数量</th>
            <td>テキストテキストテキスト</td>
          </tr>
          <tr>
            <th>引き渡し時期</th>
            <td>
              テキストテキストテキストテキスト<br>
              <br>
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
              テキストテキストテキスト
            </td>
          </tr>
          <tr>
            <th>お支払い方法</th>
            <td>
              テキストテキストテキスト
            </td>
          </tr>
          <tr>
            <th>返品・交換について</th>
            <td>
              テキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </td>
          </tr>
        </table>

      </div><!-- /.inner -->

    </div><!-- /.layer -->
  </div><!-- /.inner-wide -->
</section><!-- /.p-term -->