<section class="p-under_wrap p-term">
  <div class="inner-wide">
    <div class="layer">

      <div class="inner">

        <div class="under_head-ttl">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>
          <h2>特定商取引法に基づく表記</h2>
        </div>

        <table>
          <tr>
            <th>販売業者</th>
            <td>株式会社海邦商事</td>
          </tr>
          <tr>
            <th>運営統括責任者</th>
            <td>セントローレント　真紀</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>〒904-2234<br class="u-sp">沖縄県 うるま市 州崎 8番地19</td>
          </tr>
          <tr>
            <th>TEL</th>
            <td>098-938-2133</td>
          </tr>
          <tr>
            <th>FAX</th>
            <td>098-934-8070</td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>
              info@kokutou.jp
            </td>
          </tr>
          <tr>
            <th>取扱商品</th>
            <td>加工黒糖、加工黒糖菓子類</td>
          </tr>
          <tr>
            <th>販売価格</th>
            <td>各商品ページをご参照ください。</td>
          </tr>
          <tr>
            <th>商品代金以外の<br>必要料金</th>
            <td>
              送料(全国一律1,100円)、代金引換手数料(330円)、銀行振込手数料は原則としてお客様負担にてお願いいたします。<br>
              消費税は全て商品代金(税込価格)に含んで表示しています。
            </td>
          </tr>
          <tr>
            <th>送料について</th>
            <td>
              送料(全国一律1,100円)
            </td>
          </tr>
          <tr>
            <th>申し込みの有効期限</th>
            <td>ご注文後7日以内にお支払下さい。なお、ご注文から7日以内にご入金が確認できない場合は、ご注文をキャンセル扱いとさせていただきます。</td>
          </tr>
          <tr>
            <th>不良品</th>
            <td>
              万一不良品等がございましたら、当店の在庫状況を確認のうえ、新品、または同等品と交換させていただきます。 商品到着後7日以内にメールまたは電話でご連絡ください。それを過ぎますと返品交換のご要望はお受けできなくなりますので、ご了承ください。
            </td>
          </tr>
          <tr>
            <th>販売数量</th>
            <td>
              商品は在庫限りとさせていただきます。ご注文いただきました商品が在庫切れの場合は、TEL、またはメールでご連絡差し上げます。
            </td>
          </tr>
          <tr>
            <th>引き渡し時期</th>
            <td>
              ご注文・決済完了後、定休日を除く当日～４営業日以内に発送いたします。
            </td>
          </tr>
          <tr>
            <th>お支払い方法</th>
            <td>
              代引き、銀行振込、クレジットカード払いを用意してございます。ご希望にあわせて、各種ご利用ください。
            </td>
          </tr>
          <tr>
            <th>返品・交換について</th>
            <td>
              商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。<br>
              不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。<br>
              不良品交換、誤品配送交換の送料は当社負担とさせていただきます。
            </td>
          </tr>
        </table>

      </div><!-- /.inner -->

    </div><!-- /.layer -->
  </div><!-- /.inner-wide -->
</section><!-- /.p-term -->