<section class="p-under_wrap p-contact">
  <div class="inner-wide">
    <div class="layer">

      <div class="inner">

        <div class="under_head-ttl">
          <div class="img-box"><img src="images/icon-logo.svg" alt=""></div>
          <h2>お問い合わせ</h2>
        </div>

        <p class="message">
          お問い合わせは、下記お電話またはメールフォームにて承ります。<br>
          また、お客さまからよく寄せられる質問とその回答を、<a href="/pages/faq/">「よくあるご質問」</a>ページにまとめておりますので、ぜひご覧ください。
        </p>

        <div class="contact-tel">
          <p>お電話から</p>
          <a href="tel:0989382133"><img src="images/icon-tel.svg" alt="">098-938-2133</a>
          <p class="business-hours">【営業時間】<br>平日：AM9:00~​PM5:00</p>
        </div>

        <h3>フォームから</h3>
        <div class="form_wrap">
          {% section 'contact-form' %}
          </form>
        </div>

      </div><!-- /.inner -->

    </div><!-- /.layer -->
  </div><!-- /.inner-wide -->
</section><!-- /.p-contact -->