<section class="p-under_wrap p-company">
  <div class="inner-wide">
    <div class="layer">

      <div class="inner">

        <div class="under_head-ttl">
          <div class="img-box"><img src="https://cdn.shopify.com/s/files/1/0660/0186/2794/files/icon-logo.svg" alt=""></div>
          <h2>会社概要</h2>
        </div>

        <table>
          <tr>
            <th>会社名</th>
            <td>株式会社 海邦商事</td>
          </tr>
          <tr>
            <th>代表者名</th>
            <td>セントローレント真紀</td>
          </tr>
          <tr>
            <th>設立</th>
            <td>1991年（平成3年）2月</td>
          </tr>
          <tr>
            <th>事業内容</th>
            <td>
              ・加工黒糖<br>
              ・加工黒糖菓子類<br>
              ・その他さとうきび加工商品の製造、販売
            </td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>〒904-2234<br class="u-sp">沖縄県うるま市字州崎8番地19</td>
          </tr>
          <tr>
            <th>TEL</th>
            <td>
              098-938-2133
            </td>
          </tr>
          <tr>
            <th>FAX</th>
            <td>098-934-8070</td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td>9：00～18：00</td>
          </tr>
          <tr>
            <th>定休日</th>
            <td>土・日・祝祭日・年末年始・旧盆</td>
          </tr>
        </table>

        <div class="access-map">
          <h3>アクセスマップ</h3>
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.9375048336874!2d127.8521586755748!3d26.328523077000156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e50c2c69ba22c5%3A0x38b674ae3fa8caa5!2zKOagqinmtbfpgqbllYbkuos!5e0!3m2!1sja!2sjp!4v1722220680893!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

      </div><!-- /.inner -->

    </div><!-- /.layer -->
  </div><!-- /.inner-wide -->
</section><!-- /.p-company -->